<div class="transaction-details-container">
  <h2 mat-dialog-title>Transaction Details</h2>

  <div class="transaction-details">
    <div class="detail">
      <mat-icon class="icon">account_circle</mat-icon>
      <span><strong>Sender:</strong> {{ data.sender }}</span>
    </div>
    <div class="detail">
      <mat-icon class="icon">person</mat-icon>
      <span><strong>Receiver:</strong> {{ data.receiver }}</span>
    </div>
    <div class="detail">
      <mat-icon class="icon">euro</mat-icon>
      <span><strong>Amount:</strong> {{ data.amount }} €</span>
    </div>
    <div class="detail">
      <mat-icon class="icon">event</mat-icon>
      <span><strong>Date:</strong> {{ data.formattedDate }}</span>
    </div>
    <div class="detail">
      <mat-icon class="icon">info</mat-icon>
      <span><strong>Status:</strong> {{ data.status }}</span>
    </div>
    <div class="detail">
      <mat-icon class="icon">title</mat-icon>
      <span><strong>Title</strong> {{ data.title }}</span>
    </div>
    <div class="detail">
      <mat-icon class="icon">description</mat-icon>
      <span><strong>Description:</strong> {{ data.description }}</span>
    </div>
  </div>
  <div class="actions">
    <button mat-stroked-button (click)="close()">Close</button>
  </div>
</div>
