/* Estilo base para las badges */
.badge {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 20px;
  text-transform: capitalize;
  transition: background-color 0.3s ease;
  border: 1px solid;
}

/* Colores al pasar el mouse */
.badge:hover {
  opacity: 0.8;
}
