.action-buttons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  gap: 20px;
  align-items: center;
}


.table-container {
  width: 100%;
  overflow-x: auto;
}

.filters {
  display: flex;
  margin-bottom: 20px;
  gap: 50px;
  align-items: center;
  width: 100%;
}
