<table mat-table [dataSource]="dataSource" matSort>
  <!-- checkboxes -->
  <ng-container *ngIf="enableSelection" matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? toggleAllRows() : null"
        [checked]="isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- normal columns -->
  <ng-container
    *ngFor="let column of columns"
    [matColumnDef]="column.columnDef"
  >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ column.header }}
    </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="column.component === 'badge'; else otherCell">
        <app-badge
          [text]="column.getComponentProps?.(element)?.text"
          [icon]="column.getComponentProps?.(element)?.icon"
          [class]="column.getComponentProps?.(element)?.class"
        >
        </app-badge>
      </ng-container>

      <ng-template #otherCell>
        <ng-container *ngIf="column.component === 'text-icon'; else normalCell">
          <mat-icon>{{ column.getComponentProps?.(element)?.icon }}</mat-icon>
          <span>{{ column.cell(element) }}</span>
        </ng-container>
      </ng-template>

      <ng-template #normalCell>
        {{ column.cell(element) }}
      </ng-template>
    </td>
  </ng-container>

  <!-- actions -->
  <ng-container *ngIf="enableActions" matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="$event.stopPropagation(); editRow(row)">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="$event.stopPropagation(); deleteRow(row)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr class="mat-row-empty" *matNoDataRow>
    <td class="mat-cell-empty" [attr.colspan]="displayedColumns.length">
      No data is available
    </td>
  </tr>
</table>

<mat-paginator
  [pageSizeOptions]="[10, 20, 30]"
  showFirstLastButtons
></mat-paginator>
