<app-toolbar></app-toolbar>
<div class="page-container">
  <h1>HELP</h1>
  <p>
    Welcome to the help page! Here you can find information about how to use the
    application.
  </p>
  <h2>Getting Started</h2>
  <p>
    To get started, you can create an account or log in if you already have one.
    Once logged in, you can access the main features of the application.
  </p>
  <h2>Features</h2>
  <span style="display: block; height: 50px"></span>
  <div class="underlined-title">
    <h2>Meet the team</h2>
    <hr />
    <h3>Authors</h3>
    <p>Feel free to reach out to us if you have any questions or feedback!</p>
    <div class="authors-container">
      <app-author username="elena-17"></app-author>
      <app-author username="antoniocg73"></app-author>
    </div>
  </div>
</div>
