@import "../../styles.scss";

.login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d9afd9;
  background-image: $background-image;
  padding: 20px;
}

.login-card {
  width: 500px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.full-width {
  width: 100%;
  margin-top: 10px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 10px;
  margin-top: 20px;
}

.sign-up {
  margin-top: 10px;
}

/* 🔹 RESPONSIVE DESIGN 🔹 */
@media (max-width: 480px) {
  .login-card {
    width: 90%;
    padding: 15px;
  }

  .forgot-password,
  .sign-up {
    text-align: center;
  }
}
