<div class="login_form">
  <mat-card class="login-card">
    <img
      mat-card-image
      src="assets/zap-logo.png"
      alt="logo"
      class="logo-image"
    />
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <!-- Email -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            formControlName="email_id"
            placeholder="Enter email"
            required
          />
          <mat-error *ngIf="loginForm.get('email_id')?.hasError('required')">
            Email is required.
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            placeholder="Enter password"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility()"
            type="button"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.invalid">
            {{ getErrorMessage("password") }}
          </mat-error>
        </mat-form-field>

        <div class="forgot-password">
          <a href="#" (click)="openModal($event)">Forgot Password?</a>
        </div>

        <!-- Login Button -->
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="full-width"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>

        <p class="sign-up">
          Don't have an account? <a href="/register">Sign up</a>
        </p>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <h2>Recover Password</h2>
      <h5>Enter your email address to reset your password.</h5>
      <form [formGroup]="fmodal">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            formControlName="email"
            placeholder="Enter email"
            required
          />

          <mat-error *ngIf="loginForm.get('email_id')?.hasError('required')">
            Email is required.
          </mat-error>
        </mat-form-field>
      </form>
      <div class="modal-actions">
        <button mat-raised-button (click)="closeModal()">Cancelar</button>
        <button
          mat-raised-button
          (click)="onSubmit()"
          [disabled]="fmodal.invalid"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
