<div class="forgot-password-form">
  <div class="forgot-password-card">
    <h2>Reset your password</h2>

    <!-- Mostrar el spinner solo cuando está en proceso -->
    <div *ngIf="loading" class="spinner-container">
      <mat-spinner class="spinner"></mat-spinner>
      <p>Loading, please wait...</p>
    </div>

    <!-- Mostrar mensaje de éxito solo cuando se confirme el cambio -->
    <div *ngIf="success" class="success-message">
      <p>Your password has been reset successfully!</p>
      <div class="success-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="100"
          viewBox="0 0 24 24"
          width="100"
          fill="#4caf50"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 0C5.37258 0 0 5.37258 0 12s5.37258 12 12 12 12-5.37258 12-12S18.6274 0 12 0zm-1.2 17.4l-4.2-4.2 1.4-1.4 2.8 2.8 6.8-6.8 1.4 1.4-8.2 8.2z"
          />
        </svg>
      </div>
    </div>

    <!-- El formulario siempre se muestra -->
    <form
      [formGroup]="forgotPasswordForm"
      appearance="outline"
      (ngSubmit)="onSubmit()"
      class="full-width"
      *ngIf="!loading && !success"
    >
      <!-- New Password -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="newPassword"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="togglePasswordVisibility()"
          type="button"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="forgotPasswordForm.get('newPassword')?.touched">
          {{ getErrorMessage("newPassword") }}
        </mat-error>
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm New Password</mat-label>
        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          formControlName="confirmPassword"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="toggleConfirmPasswordVisibility()"
          type="button"
        >
          <mat-icon>{{
            hideConfirmPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="forgotPasswordForm.get('confirmPassword')?.touched">
          {{ getErrorMessage("confirmPassword") }}
        </mat-error>
      </mat-form-field>

      <!-- Submit Button -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="forgotPasswordForm.invalid || loading"
      >
        Reset Password
      </button>
    </form>
  </div>
</div>
