<h1>Welcome Admin</h1>

<h2>User Stats</h2>
<h4>See how your clients are doing</h4>
<hr />

<mat-card appearance="outlined">
  <mat-card-content>Active users</mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-content>Number of friendships</mat-card-content>
</mat-card>

<h2>Transactions Stats</h2>
<h4>Transactions status...</h4>
<hr />
<mat-card appearance="outlined">
  <mat-card-content>Number transactions made</mat-card-content>
</mat-card>
<mat-card appearance="outlined">
  <mat-card-content>Requests pending</mat-card-content>
</mat-card>
