<app-toolbar></app-toolbar>
<div class="page-container">
  <h1>Welcome Admin ........ WIP</h1>

  <div class="underlined-title">
    <h2>User Stats</h2>
    <h4>See how your clients are doing</h4>
    <hr />
  </div>

  <mat-card appearance="outlined">
    <mat-card-content>Active users X</mat-card-content>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-content>Number of friendships X</mat-card-content>
  </mat-card>

  <div class="underlined-title">
    <h2>Transactions Stats</h2>
    <h4>Transactions status...</h4>
    <hr />
  </div>
  <mat-card appearance="outlined">
    <mat-card-content>Number transactions made X</mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-content>Requests pending X</mat-card-content>
  </mat-card>
</div>
