<app-toolbar></app-toolbar>

<button
  mat-fab
  color="primary"
  class="filter-fab"
  (click)="toggleFilters()"
  matBadge="!"
  matBadgeOverlap="true"
  matBadgeColor="accent"
  matBadgeSize="large"
  *ngIf="filtersForm"
  [matBadgeHidden]="!hasActiveFilters"
>
  <mat-icon>filter_alt</mat-icon>
</button>

<!-- Panel de filtros -->
<div class="filter-overlay" *ngIf="filterOpen" (click)="closeFilters()">
  <div class="filter-panel" (click)="$event.stopPropagation()">
    <header class="filter-header">
      <h3>Filters</h3>
      <button mat-icon-button (click)="closeFilters()" class="close-button">
        <mat-icon>close</mat-icon>
      </button>
    </header>
    <form [formGroup]="filtersForm" class="full-width-form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Search Title</mat-label>
        <input
          matInput
          formControlName="title"
          name="search"
          placeholder="Search by email"
        />
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint>Search by title</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>User</mat-label>
        <input
          matInput
          formControlName="user"
          name="search"
          placeholder="Search by email"
        />
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint>Search by email</mat-hint>
      </mat-form-field>

      <mat-form-field formGroupName="dateRange" class="full-width">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Start date"
            formControlName="start"
          />
          <input matEndDate placeholder="End date" formControlName="end" />
        </mat-date-range-input>
        <mat-hint>Start: DD/MM/YYYY – End: DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <section formGroupName="amount">
        <h4>Amount €</h4>
        <app-slider
          [min]="0"
          [max]="500"
          [step]="1"
          [startValue]="filtersForm.get('amount.min')?.value"
          [endValue]="filtersForm.get('amount.max')?.value"
          (rangeChange)="onAmountRangeChange($event)"
        />
      </section>

      <button mat-flat-button (click)="applyFilters()">Apply filters</button>
      <button mat-stroked-button (click)="clearFilters()">Clear filters</button>
    </form>
  </div>
</div>
<mat-tab-group
  animationDuration="500ms"
  (selectedIndexChange)="onChangeTab($event)"
>
  <!-- tab 1 - pending transactions -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" style="color: #e38100fe"
        >hourglass_empty</mat-icon
      >
      Pending
    </ng-template>
    <!-- if loading -->
    <div *ngIf="loading" class="loading-container">
      <mat-spinner [diameter]="60"></mat-spinner>
    </div>

    <!-- already loaded -->
    <div *ngIf="!loading" class="page-container">
      <!-- title -->

      <div class="underlined-title">
        <div class="title-buttons">
          <h2>Pending Transactions</h2>
          <div class="title-buttons-right">
            <button mat-flat-button (click)="createTransaction()">
              <mat-icon>request_page</mat-icon>
              Create transaction
            </button>
            <button mat-stroked-button (click)="exportToCSV()">
              <mat-icon>download</mat-icon>
              Download CSV
            </button>
          </div>
        </div>
        <hr />
      </div>
      <!-- table 1 -->
      <app-table
        [columns]="columns"
        [data]="transactionStates['pending'].data"
        [totalCount]="transactionStates['pending'].totalCount"
        [pageSize]="transactionStates['pending'].pageSize"
        [pageIndex]="transactionStates['pending'].pageIndex"
        (pageChange)="onPageChange('pending', $event)"
        [serverSidePagination]="true"
        [enableSelection]="false"
        [enableActions]="true"
        (action1)="openDetails($event)"
        [action1Icon]="'visibility'"
        [action1Tooltip]="'View details'"
        (action2)="approveTransaction($event)"
        [action2Icon]="'task_alt'"
        [action2Tooltip]="'Approve transaction'"
        (action3)="rejectTransaction($event)"
        [action3Icon]="'block'"
        [action3Tooltip]="'Reject transaction'"
        [action2Color]="'green'"
        [action3Color]="'red'"
      >
      </app-table>
    </div>
  </mat-tab>

  <!-- tab 2 - appproved transactions -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" style="color: #4caf50"
        >task_alt</mat-icon
      >
      Approved
    </ng-template>
    <div *ngIf="loading" class="loading-container">
      <mat-spinner [diameter]="60"></mat-spinner>
    </div>
    <!-- already loaded -->
    <div *ngIf="!loading" class="page-container">
      <div class="underlined-title">
        <div class="title-buttons">
          <h2>Approved Transaction</h2>
          <div class="title-buttons-right">
            <button mat-flat-button (click)="createTransaction()">
              <mat-icon>request_page</mat-icon>
              Create transaction
            </button>
            <button mat-stroked-button (click)="exportToCSV()">
              <mat-icon>download</mat-icon>
              Download CSV
            </button>
          </div>
        </div>
        <hr />
      </div>
      <app-table
        [columns]="columns"
        [data]="transactionStates['approved'].data"
        [totalCount]="transactionStates['approved'].totalCount"
        [pageSize]="transactionStates['approved'].pageSize"
        [pageIndex]="transactionStates['approved'].pageIndex"
        (pageChange)="onPageChange('approved', $event)"
        [serverSidePagination]="true"
        [enableSelection]="false"
        [enableActions]="true"
        (action1)="openDetails($event)"
        [action1Icon]="'visibility'"
        [action1Tooltip]="'View details'"
        (action2)="pendTransaction($event)"
        [action2Icon]="'hourglass_empty'"
        [action2Tooltip]="'Change to pending state'"
        [action2Color]="'orange'"
        (action3)="rejectTransaction($event)"
        [action3Icon]="'block'"
        [action3Tooltip]="'Reject transaction'"
        [action3Color]="'red'"
      >
      </app-table>
    </div>
  </mat-tab>

  <!-- tab 3 - rejected transactions -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" style="color: #f44336">block</mat-icon>
      Rejected
    </ng-template>
    <div *ngIf="loading" class="loading-container">
      <mat-spinner [diameter]="60"></mat-spinner>
    </div>
    <!-- already loaded -->
    <div *ngIf="!loading" class="page-container">
      <div class="underlined-title">
        <div class="title-buttons">
          <h2>Rejected Transaction</h2>
          <div class="title-buttons-right">
            <button mat-flat-button (click)="createTransaction()">
              <mat-icon>request_page</mat-icon>
              Create transaction
            </button>
            <button mat-stroked-button (click)="exportToCSV()">
              <mat-icon>download</mat-icon>
              Download CSV
            </button>
          </div>
        </div>
        <hr />
      </div>
      <app-table
        [columns]="columns"
        [data]="transactionStates['rejected'].data"
        [totalCount]="transactionStates['rejected'].totalCount"
        [pageSize]="transactionStates['rejected'].pageSize"
        [pageIndex]="transactionStates['rejected'].pageIndex"
        (pageChange)="onPageChange('rejected', $event)"
        [serverSidePagination]="true"
        [enableSelection]="false"
        [enableActions]="true"
        (action1)="openDetails($event)"
        [action1Icon]="'visibility'"
        [action1Tooltip]="'View details'"
        (action2)="pendTransaction($event)"
        [action2Icon]="'hourglass_empty'"
        [action2Tooltip]="'Change to pending state'"
        [action2Color]="'orange'"
        (action3)="approveTransaction($event)"
        [action3Icon]="'task_alt'"
        [action3Tooltip]="'Approve transaction'"
        [action3Color]="'green'"
      >
      </app-table>
    </div>
  </mat-tab>

  <!-- tab 4 - seller transactions -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">sell</mat-icon>
      About sellers
    </ng-template>
    <div *ngIf="loading" class="loading-container">
      <mat-spinner [diameter]="60"></mat-spinner>
    </div>
    <!-- already loaded -->
    <div *ngIf="!loading" class="page-container">
      <div class="underlined-title">
        <div class="title-buttons">
          <h2>Processing Transaction</h2>
          <div class="title-buttons-right">
            <button mat-flat-button (click)="createTransaction()">
              <mat-icon>request_page</mat-icon>
              Create transaction
            </button>
            <button mat-stroked-button (click)="exportToCSV()">
              <mat-icon>download</mat-icon>
              Download CSV
            </button>
          </div>
        </div>
        <hr />
      </div>
      <app-table
        [columns]="columns"
        [data]="transactionStates['seller_processing'].data"
        [totalCount]="transactionStates['seller_processing'].totalCount"
        [pageSize]="transactionStates['seller_processing'].pageSize"
        [pageIndex]="transactionStates['seller_processing'].pageIndex"
        (pageChange)="onPageChange('seller_processing', $event)"
        [serverSidePagination]="true"
        [enableSelection]="false"
        [enableActions]="true"
        (action1)="openDetails($event)"
        [action1Icon]="'visibility'"
        [action1Tooltip]="'View details'"
        (action2)="approveTransaction($event)"
        [action2Icon]="'task_alt'"
        [action2Tooltip]="'Approve transaction'"
        [action2Color]="'green'"
        (action3)="rejectTransaction($event)"
        [action3Icon]="'block'"
        [action3Tooltip]="'Reject transaction'"
        [action3Color]="'red'"
      >
      </app-table>

      <div class="underlined-title" style="margin-top: 20px">
        <div class="title-buttons">
          <h2>Approved Transaction</h2>
          <div class="title-buttons-right">
            <button mat-stroked-button (click)="exportToCSV()">
              <mat-icon>download</mat-icon>
              Download CSV
            </button>
          </div>
        </div>
        <hr />
      </div>
      <app-table
        [columns]="columns"
        [data]="transactionStates['seller_approved'].data"
        [totalCount]="transactionStates['seller_approved'].totalCount"
        [pageSize]="transactionStates['seller_approved'].pageSize"
        [pageIndex]="transactionStates['seller_approved'].pageIndex"
        (pageChange)="onPageChange('seller_approved', $event)"
        [serverSidePagination]="true"
        [enableSelection]="false"
        [enableActions]="true"
        (action1)="openDetails($event)"
        [action1Icon]="'visibility'"
        [action1Tooltip]="'View details'"
        (action2)="pendTransaction($event)"
        [action2Icon]="'hourglass_empty'"
        [action2Tooltip]="'Change to pending state'"
        [action2Color]="'orange'"
        (action3)="approveTransaction($event)"
        [action3Icon]="'task_alt'"
        [action3Tooltip]="'Approve transaction'"
        [action3Color]="'green'"
      >
      </app-table>
      <div class="underlined-title" style="margin-top: 20px">
        <div class="title-buttons">
          <h2>Rejected Transaction</h2>
          <div class="title-buttons-right">
            <button mat-stroked-button (click)="exportToCSV()">
              <mat-icon>download</mat-icon>
              Download CSV
            </button>
          </div>
        </div>
        <hr />
      </div>
      <app-table
        [columns]="columns"
        [data]="transactionStates['seller_rejected'].data"
        [totalCount]="transactionStates['seller_rejected'].totalCount"
        [pageSize]="transactionStates['seller_rejected'].pageSize"
        [pageIndex]="transactionStates['seller_rejected'].pageIndex"
        (pageChange)="onPageChange('seller_rejected', $event)"
        [serverSidePagination]="true"
        [enableSelection]="false"
        [enableActions]="true"
        (action1)="openDetails($event)"
        [action1Icon]="'visibility'"
        [action1Tooltip]="'View details'"
        (action2)="pendTransaction($event)"
        [action2Icon]="'hourglass_empty'"
        [action2Tooltip]="'Change to pending state'"
        [action2Color]="'orange'"
        (action3)="approveTransaction($event)"
        [action3Icon]="'task_alt'"
        [action3Tooltip]="'Approve transaction'"
        [action3Color]="'green'"
      >
      </app-table>
    </div>
  </mat-tab>
</mat-tab-group>
