/* You can add global styles to this file, and also import other style files */

$primary-color: #2196f3;
$hover-color: rgba(255, 255, 255, 0.2);
$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  transition: background-color 0.2s;

  &:hover {
    background-color: $hover-color;
  }
}

.container {
  box-shadow: $box-shadow;
  padding: 20px;
  border-radius: 8px;
  background: white;
}
