<div class="payment_form">
  <div class="payment-card">
    <img src="assets/zap-logo.png" alt="Logo" class="logo-image" />

    <h2>Confirm Payment</h2>
    <p>
      You are about to confirm a payment request associated with:
      <strong>{{ receiver }}</strong>
    </p>

    <div class="code-inputs">
      <input
        *ngFor="let i of [0, 1, 2, 3, 4, 5]; let idx = index"
        type="text"
        maxlength="1"
        inputmode="numeric"
        pattern="[0-9]*"
        class="code-box"
        [ngModel]="confirmationCode[idx] || ''"
        (ngModelChange)="onDigitChange($event, idx)"
        (keydown)="onKeyDown($event, idx)"
        #digitInput
      />
    </div>

    <button
      id="confirm-button"
      mat-raised-button
      color="primary"
      class="full-width"
      [disabled]="confirmationCode.length !== 6"
      (click)="confirmPayment()"
    >
      Confirm Payment
    </button>
  </div>
</div>
