<app-toolbar></app-toolbar>

<mat-tab-group
  animationDuration="500ms"
  (selectedTabChange)="onTabChange($event)"
>
  <!-- Tab 1 - All Favorite Relations -->
  <mat-tab>
    <ng-template mat-tab-label>
      All Favorites
      <mat-icon class="tab-icon" style="color: #e30000fe">favorite</mat-icon>
    </ng-template>
    <div class="page-container">
      <div class="underlined-title">
        <h2>All Favorite Pairs</h2>
        <hr />
      </div>
      <app-table
        [columns]="columns"
        [data]="favoritePairs"
        [enableSelection]="false"
        [enableActions]="true"
        (action1)="removeRelation($event)"
        [action1Icon]="'delete'"
        [action1Color]="'#d32f2f'"
        [action1Tooltip]="'Remove Relation'"
      >
      </app-table>
    </div>
  </mat-tab>

  <!-- Tab 2 - Add Favorite Relation -->
  <mat-tab>
    <ng-template mat-tab-label>
      Add Relation
      <mat-icon class="tab-icon" style="color: #04bcc4">link</mat-icon>
    </ng-template>
    <div class="page-container">
      <div class="underlined-title">
        <h2>Add Favorite Relation</h2>
        <hr />
      </div>

      <form (ngSubmit)="addRelation()" #relationForm="ngForm">
        <!-- Select User -->
        <mat-form-field class="full-width">
          <mat-label>Select User</mat-label>
          <mat-select name="user" [(ngModel)]="newRelation.user" required>
            <mat-option *ngFor="let user of allUsers" [value]="user.email">
              {{ user.email }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Select Favorite User -->
        <mat-form-field class="full-width">
          <mat-label>Select Favorite User</mat-label>
          <mat-select
            name="favorite_user"
            [(ngModel)]="newRelation.favorite_user"
            required
          >
            <mat-option *ngFor="let user of allUsers" [value]="user.email">
              {{ user.email }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Submit Button -->
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!newRelation.user || !newRelation.favorite_user"
        >
          Add Relation
        </button>
      </form>
    </div>
  </mat-tab>
</mat-tab-group>
