.account-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.account-balance mat-card-header {
  background-color: var(--mat-sys-primary) !important;
  color: white;
  border-radius: 8px;
  padding: 10px;
}

.account-balance mat-card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.balance-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.balance-info {
  margin-bottom: 20px;
}

.balance-info h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.account-actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.account-actions mat-icon {
  margin-right: 8px;
}

.user-home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px;
  gap: 24px;
}

.last-login {
  font-size: 0.7rem;
  color: #666;
}

.welcome-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.balance-img {
  width: 150px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.balance-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

@media (min-width: 768px) {
  .account-balance {
    max-width: 600px;
  }

  .account-actions {
    flex-direction: row;
    justify-content: space-between;
  }

  .account-actions .action-button {
    width: 150px;
  }
}
