<app-toolbar></app-toolbar>
<div class="page-container">
  <mat-card class="account-balance">
    <mat-card-header>
      <mat-card-title>
        <mat-icon class="icon-title">account_balance</mat-icon>
        Account Balance
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="balance-content">
      <div class="balance-info">
        <h2>{{ balance | currency: "EUR" }}</h2>
      </div>

      <div class="account-actions">
        <button
          mat-raised-button
          color="primary"
          (click)="depositFunds()"
          class="action-button"
        >
          <mat-icon>add_circle</mat-icon> Deposit
        </button>

        <button
          mat-raised-button
          color="warn"
          (click)="withdrawFunds()"
          class="action-button"
        >
          <mat-icon>remove_circle</mat-icon> Withdraw
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
