<app-toolbar></app-toolbar>
<div class="page-container">
  <h1 class="welcome-title">Welcome</h1>
  <p>Last login {{ dashboardData?.last_login }}</p>
  <mat-card class="account-balance">
    <mat-card-header>
      <mat-card-title>
        <mat-icon class="icon-title">account_balance</mat-icon>
        Account Balance
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="balance-content">
      <div class="balance-info">
        <h2>{{ balance | number: "1.0-2" }} €</h2>
      </div>

      <div class="account-actions">
        <button
          mat-raised-button
          color="primary"
          (click)="depositFunds()"
          class="action-button"
        >
          <mat-icon>add_circle</mat-icon> Deposit
        </button>

        <button
          mat-raised-button
          color="warn"
          (click)="withdrawFunds()"
          class="action-button"
        >
          <mat-icon>remove_circle</mat-icon> Withdraw
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top: 30px">
    <apx-chart
      [series]="chart_balance.series"
      [chart]="chart_balance.chart"
      [xaxis]="chart_balance.xaxis"
      [title]="chart_balance.title"
      [stroke]="chart_balance.stroke"
      [dataLabels]="chart_balance.dataLabels"
      [tooltip]="chart_balance.tooltip"
      [colors]="chart_balance.colors"
      [legend]="chart_balance.legend"
    ></apx-chart>
  </mat-card>

  <mat-card style="margin-top: 20px">
    <apx-chart
      [series]="chart_monthly.series"
      [chart]="chart_monthly.chart"
      [xaxis]="chart_monthly.xaxis"
      [title]="chart_monthly.title"
      [stroke]="chart_monthly.stroke"
      [dataLabels]="chart_monthly.dataLabels"
      [tooltip]="chart_monthly.tooltip"
      [colors]="chart_monthly.colors"
      [legend]="chart_monthly.legend"
    ></apx-chart>
  </mat-card>
</div>
