<app-toolbar></app-toolbar>

<button
  mat-fab
  color="primary"
  class="filter-fab"
  (click)="toggleFilters()"
  matBadge="!"
  matBadgeOverlap="true"
  matBadgeColor="accent"
  matBadgeSize="large"
  *ngIf="filtersForm  && role !== 'seller'"
  [matBadgeHidden]="!hasActiveFilters"
>
  <mat-icon>filter_alt</mat-icon>
</button>

<!-- Panel de filtros -->
<div class="filter-overlay" *ngIf="filterOpen" (click)="closeFilters()" >
  <div class="filter-panel" (click)="$event.stopPropagation()">
    <header class="filter-header">
      <h3>Filters</h3>
      <button mat-icon-button (click)="closeFilters()" class="close-button">
        <mat-icon>close</mat-icon>
      </button>
    </header>
    <form [formGroup]="filtersForm" class="full-width-form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Search Title</mat-label>
        <input
          matInput
          formControlName="title"
          name="search"
          placeholder="Search by email"
        />
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint>Search by title</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Search User</mat-label>
        <input
          matInput
          formControlName="user"
          name="search"
          placeholder="Search by email"
        />
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint>Search by email</mat-hint>
      </mat-form-field>

      <mat-form-field formGroupName="dateRange" class="full-width">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Start date"
            formControlName="start"
          />
          <input matEndDate placeholder="End date" formControlName="end" />
        </mat-date-range-input>
        <mat-hint>Start: DD/MM/YYYY – End: DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <section formGroupName="status">
        <h4>Status</h4>
        <mat-checkbox formControlName="pending">Pending</mat-checkbox>
        <mat-checkbox formControlName="approved">Approved</mat-checkbox>
        <mat-checkbox formControlName="rejected">Rejected</mat-checkbox>
      </section>

      <section formGroupName="amount">
        <h4>Amount</h4>
        <app-slider
          [min]="0"
          [max]="500"
          [step]="1"
          [startValue]="filtersForm.get('amount.min')?.value"
          [endValue]="filtersForm.get('amount.max')?.value"
          (rangeChange)="onAmountRangeChange($event)"
        />
      </section>

      <button mat-flat-button (click)="applyFilters()">Apply filters</button>
      <button mat-stroked-button (click)="clearFilters()">Clear filters</button>
    </form>
  </div>
</div>
<mat-tab-group
  animationDuration="500ms"
  [selectedIndex]="selectedTabIndex"
  (selectedIndexChange)="onTabChange($event)"
>
  <!-- tab 1 - pending transactions -->
  <mat-tab [disabled]="role === 'seller'">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" style="color: #e38100fe"
        >hourglass_empty</mat-icon
      >
      Pending
    </ng-template>
    <!-- if loading -->
    <div *ngIf="loading" class="loading-container">
      <mat-spinner [diameter]="60"></mat-spinner>
    </div>

    <!-- already loaded -->
    <div *ngIf="!loading" class="page-container">
      <!-- title -->
      <div class="underlined-title">
        <div class="title-buttons">
          <h2>Create Transaction</h2>
          <div class="money-buttons">
            <button mat-flat-button *ngIf="role !== 'seller'" (click)="sendTransaction()">
              <mat-icon>request_page</mat-icon>
              Send Money
            </button>
            <button mat-stroked-button (click)="requestTransaction(false)">
              <mat-icon>quiz</mat-icon>
              Ask for Money
            </button>
            <button mat-stroked-button *ngIf="role !== 'seller'" (click)="requestTransaction(true)">
              <mat-icon>local_mall</mat-icon>
              Divide Bill
            </button>
          </div>
        </div>
        <hr />
      </div>

      <span style="display: block; height: 20px"></span>

      <div class="underlined-title">
        <h2>Transactions you need to approve</h2>
        <hr />
      </div>
      <!-- table 1 -->
      <app-table
        [columns]="columns"
        [data]="transactionsArray['pendingMyApproval'].data"
        [totalCount]="transactionsArray['pendingMyApproval'].totalCount"
        [pageIndex]="transactionsArray['pendingMyApproval'].pageIndex"
        [pageSize]="transactionsArray['pendingMyApproval'].pageSize"
        (pageChange)="onPageChange('pendingMyApproval', $event)"
        [serverSidePagination]="true"
        [enableActions]="true"
        (action1)="openDetails($event)"
        [action1Icon]="'visibility'"
        [action1Tooltip]="'View details'"
        (action2)="approveTransaction($event)"
        [action2Icon]="'task_alt'"
        [action2Tooltip]="'Approve transaction'"
        (action3)="rejectTransaction($event)"
        [action3Icon]="'block'"
        [action3Tooltip]="'Reject transaction'"
        [action2Color]="'green'"
        [action3Color]="'red'"
      />
      <div class="underlined-title">
        <!-- table 2 -->
        <h2>Transactions pending for others</h2>
        <hr />
      </div>
      <app-table
        [columns]="columns"
        [data]="transactionsArray['pendingOthers'].data"
        [totalCount]="transactionsArray['pendingOthers'].totalCount"
        [pageIndex]="transactionsArray['pendingOthers'].pageIndex"
        [pageSize]="transactionsArray['pendingOthers'].pageSize"
        (pageChange)="onPageChange('pendingOthers', $event)"
        [serverSidePagination]="true"
        [enableActions]="true"
        (action1)="openDetails($event)"
        [action1Icon]="'visibility'"
        [action1Tooltip]="'View details'"
      />
    </div>
  </mat-tab>

  <!-- tab 2 - sender transactions -->
  <mat-tab [disabled]="role === 'seller'">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" style="color: #f44336"
        >call_made</mat-icon
      >
      Sent
    </ng-template>
    <div *ngIf="loading" class="loading-container">
      <mat-spinner [diameter]="60"></mat-spinner>
    </div>
    <!-- already loaded -->
    <div *ngIf="!loading" class="page-container">
      <div class="underlined-title">
        <div class="title-buttons">
          <h2>Sent Transactions</h2>
          <div class="money-buttons">
            <button mat-flat-button *ngIf="role !== 'seller'" (click)="sendTransaction()">
              <mat-icon>request_page</mat-icon>
              Send Money
            </button>
            <button mat-stroked-button (click)="requestTransaction(false)">
              <mat-icon>quiz</mat-icon>
              Ask for Money
            </button>
            <button mat-stroked-button *ngIf="role !== 'seller'" (click)="requestTransaction(true)">
              <mat-icon>local_mall</mat-icon>
              Divide Bill
            </button>
          </div>
        </div>
        <hr />
      </div>
      <!-- end title -->

      <app-table
        [columns]="columns"
        [data]="transactionsArray['sender'].data"
        [totalCount]="transactionsArray['sender'].totalCount"
        [pageIndex]="transactionsArray['sender'].pageIndex"
        [pageSize]="transactionsArray['sender'].pageSize"
        (pageChange)="onPageChange('sender', $event)"
        [serverSidePagination]="true"
        [enableActions]="true"
        (action1)="openDetails($event)"
        [action1Icon]="'visibility'"
        [action1Tooltip]="'View details'"
      >
      </app-table>
    </div>
  </mat-tab>

  <!-- tab 3 - receiver transactions -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" style="color: #4caf50"
        >call_received</mat-icon
      >
      Received
    </ng-template>
    <div *ngIf="loading" class="loading-container">
      <mat-spinner [diameter]="60"></mat-spinner>
    </div>
    <!-- already loaded -->
    <div *ngIf="!loading" class="page-container">
      <div class="underlined-title">
        <div class="title-buttons">
          <h2>Received Transactions</h2>
          <div class="money-buttons">
            <button mat-flat-button *ngIf="role !== 'seller'" (click)="sendTransaction()">
              <mat-icon>request_page</mat-icon>
              Send Money
            </button>
            <button mat-stroked-button (click)="requestTransaction(false)">
              <mat-icon>quiz</mat-icon>
              Ask for Money
            </button>
            <button mat-stroked-button *ngIf="role !== 'seller'" (click)="requestTransaction(true)">
              <mat-icon>local_mall</mat-icon>
              Divide Bill
            </button>
          </div>
        </div>
        <hr />
      </div>

      <app-table
        [columns]="columns"
        [data]="transactionsArray['receiver'].data"
        [totalCount]="transactionsArray['receiver'].totalCount"
        [pageIndex]="transactionsArray['receiver'].pageIndex"
        [pageSize]="transactionsArray['receiver'].pageSize"
        (pageChange)="onPageChange('receiver', $event)"
        [serverSidePagination]="true"
        [enableActions]="true"
        (action1)="openDetails($event)"
        [action1Icon]="'visibility'"
        [action1Tooltip]="'View details'"
      >
      </app-table>
    </div>
  </mat-tab>
</mat-tab-group>
